<form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="col">
        <div class="row">
          <mat-form-field class="full-width">
            <mat-card-subtitle>Username:</mat-card-subtitle>
            <input class="input" matInput formControlName="userName" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
            <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
              Username is required
            </mat-error>
            <mat-error *ngIf="loginForm.controls['userName'].hasError('pattern')">
              Username is invalid
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width">
            <mat-card-subtitle>Password:</mat-card-subtitle>
            <input class="input" matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>