.full-width {
  width: 100%;
  margin-top: 20px;
}

.shipping-card {
  width: 400px;
  height: 400px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.row {
  flex: 1;
}

.col:last-child {
  margin-right: 0;
}
